@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* Nav Bar Styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 5px 0;
    background: #333;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    width: 80px;
    height: 80px;
    border-radius: 14px;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: all 0.3s ease;
}
.navbar .menu li a:hover{
    background: #111;
    padding: 5px;
    border-radius: 6px;
    color: #fff;
}
.navbar.sticky .menu li a{
    color: #fff;
}
.navbar.sticky .menu li a:hover{
    color: crimson;
    background: none;
    padding: none;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* General Styling Start */
section{
    padding: 100px 0;
}
.products .productscontent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
/* Home Styling Start */
.home{
        display: flex;
        background: url(./assets/images/Design2.jpg) no-repeat center;
        background-attachment: fixed;
        height: 100vh;
        color: #fff;
        min-height: 500px;
        font-family: 'Ubuntu', sans-serif;
}
.home .max-width {
    margin: auto 0 auto 0;
}
/* Products Styling Start */

