@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* Nav Bar Styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 5px 0;
    background: #f5fcc6;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    width: 80px;
    height: 80px;
    border-radius: 14px;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: all 0.3s ease;
}
.navbar .menu li a:hover{
    background: #111;
    padding: 5px;
    border-radius: 6px;
    color: #fff;
}
.navbar.sticky .menu li a{
    color: #65540E;
}
.navbar.sticky .menu li a:hover{
    color: crimson;
    background: none;
    padding: none;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* General Styling Start */
section{
    padding: 100px 0;
}
section .title{
    color: #292F36;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 205px;
    height: 3px;
    background: #292F36;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -14px;
    left: 50%;
    font-size: 20px;
    color: #FF6B6B;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
/* Home Styling Start */
.home{
        background: url(./assets/images/Design2.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        min-height: 500px;
}
.home .max-width {
    margin: auto 0 auto 0;
}
/* Products Styling Start */
.products .productscontent{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.products .title::after{
    content: "Conheça";
}
.products .carousel .card{
    text-align: center;
    background: cornsilk;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.products .carousel .card .box{
    background: #fff8dc;
    align-items: center;
    margin: 10px;
    padding: 30px 20px;
    
}
.products .carousel .card .box img{
    margin: auto;
    height: 220px;
    width: 220px;
}
.products .carousel .card .box .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #FF6B6B!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #FF6B6B!important;}

    /* Combos Styling Start */
.combo{
    background: #404A55;
}
.combo .title{
    color: #FFF8DC;
}
.combo .title::before{
    background: #FFF8DC;
}
.combo .combocontents{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.combo .combocontents .card{
    width: calc(33% - 20px);    
}
.combo .combocontents .card .box{
    text-align: center;
    background: #FFF8DC;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.2);
}
.combo .combocontents .card .box img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.combo .combocontents .card .box .text{
    font-size: 27px;
    font-family: 'Ubuntu' sans-serif;
    font-weight: 500;
    color: #F91B10;
}
.combo .combocontents .card .box ul{
    font-size: 18px;
    padding: 10px;
}
.combo .combocontents .card .box li{
    list-style-type: none;
}
.combo .combocontents .card .box .price{
    font-size: 22px;
    font-weight: 500;
}
.combo .combocontents a{
    margin: auto;
    margin-top: 7px;
    font-size: 25px;
    font-weight: 500;
    color: #F91B10;
    padding: 20px;
    background: cornsilk;
    border-radius: 6px;
}
    /* Responsive Media Query */
    @media (max-width: 1300px){

    }
    @media (max-width: 1104px){

    }
    @media (max-width: 991px){
        section .title{
            font-size: 35px;
        }
        section .title::after{
            font-size: 18px;
        }
        .combo .combocontents .card{
            width: calc(50% - 20px);    
        }
        .combo .combocontents a{
            font-size: 23px;
        }
    }
    @media (max-width: 947px){
        .menu-btn{
            color: #111;
            display: block;
            z-index: 999;
        }
        .menu-btn i.active:before{
            content: "\f00d";
        }
        .navbar .menu{
            position: fixed;
            height: 100vh;
            width: 100%;
            left: -100%;
            top: 0;
            background: #FFF8DC;
            text-align: center;
            padding-top: 80px;
            transition: all 0.3s ease;
        }
        .navbar .menu.active{
            left: 0;    
        }
        .navbar .menu li{
            display: block;
        }
        .navbar .menu li a{
            display: inline-block;
            margin: 20px 0;
            font-size: 25px;
        }
        .products .carousel .card .box .text{
            font-size: 23px;
        }
    }
    @media (max-width: 847px){
        
    }
    @media (max-width: 690px){
        .combo .combocontents .card{
            width: 100%;    
        }
    }
    @media (max-width: 597){
        
    }
    @media (max-width: 500px){
        section .title{
            font-size: 30px;
        }
        section .title::after{
            font-size: 16px;
        }
        .combo .combocontents .card .box .text{
                font-size: 25px;
        }
        .combo .combocontents a{
            font-size: 20px;
        }
    }
    @media (max-width: 397px){
        section .title{
            font-size: 28px;
        }
        section .title::after{
            font-size: 16px;
        }
        .products .carousel .card .box img{
            height: 150px;
            width: 150px;
        }
        .products .carousel .card .box p{
            font-size: 14px;
        }
        .combo .combocontents .card .box img{
            height: 150px;
            width: 150px;
        }
        .combo .combocontents .card .box .text{
            font-size: 20px;
        }
        .combo .combocontents .card .box ul{
            font-size: 16px;
        }
        .combo .combocontents .card .box .price{
            font-size: 18px;
        }
        .combo .combocontents a{
            font-size: 18px;
            text-align: center;
        }
    }