@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* Nav Bar Styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 5px 0;
    background: #f5fcc6;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    width: 80px;
    height: 80px;
    border-radius: 14px;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: all 0.3s ease;
}
.navbar .menu li a:hover{
    background: #111;
    padding: 5px;
    border-radius: 6px;
    color: #fff;
}
.navbar.sticky .menu li a{
    color: #65540E;
}
.navbar.sticky .menu li a:hover{
    color: crimson;
    background: none;
    padding: none;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* General Styling Start */
section{
    padding: 100px 0;
}
section .title{
    color: #292F36;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 205px;
    height: 3px;
    background: #292F36;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -14px;
    left: 50%;
    font-size: 20px;
    color: #FF6B6B;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
/* Home Styling Start */
.home{
        background: url(./assets/images/Design2.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        min-height: 500px;
}
.home .max-width {
    margin: auto 0 auto 0;
}
/* Products Styling Start */
.products .productscontent{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.products .title::after{
    content: "Conheça";
}
.products .carousel .card{
    text-align: center;
    background: cornsilk;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.products .carousel .card .box{
    background: #fff8dc;
    align-items: center;
    margin: 10px;
    padding: 30px 20px;
    transition: all 0.3s ease;
}
.products .carousel .card .box:hover{
    transform: scale(1.05);
    background: #FF6B6B;
}
.products .carousel .card .box img{
    margin: auto;
    height: 220px;
    width: 220px;
}
.products .carousel .card .box .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #FF6B6B!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #FF6B6B!important;}

    /* Combos Styling Start */
.combo{
    background: #404A55;
}
.combo .title{
    color: #FFF8DC;
}
.combo .title::before{
    background: #FFF8DC;
}
.combo .title::after{
    content: "Ideal para sua fome";
    background: #404A55;
}
.combo .combocontents{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.combo .combocontents .card{
    width: calc(33% - 20px);    
}
.combo .combocontents .card .box{
    text-align: center;
    background: #FFF8DC;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.combo .combocontents .card .box:hover{
    transform: scale(1.05);
}
.combo .combocontents .card .box img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.combo .combocontents .card .box .text{
    font-size: 27px;
    font-family: 'Ubuntu' sans-serif;
    font-weight: 500;
    color: #F91B10;
}
.combo .combocontents .card .box ul{
    font-size: 18px;
    padding: 10px;
}
.combo .combocontents .card .box li{
    list-style-type: none;
}
.combo .combocontents .card .box .price{
    font-size: 22px;
    font-weight: 500;
}
.combo .combocontents a{
    margin: auto;
    margin-top: 7px;
    font-size: 25px;
    font-weight: 500;
    color: #F91B10;
    padding: 20px;
    background: cornsilk;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.combo .combocontents a:hover{
    transform: scale(1.05);
    background: #F91B10;
    color: cornsilk;
}

/* Calculator Section Start */
.calculator{
    background: #f5fcc6;
    font-family: 'Poppins', sans-serif;
}
.calculator .title{
    color: #111;
}
.calculator .title::after{
    content: "Feito para você";
    background: #f5fcc6;
}
.calculator .calculatorcontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.calculator .calculatorcontent .side{
    width: calc(50% - 10px);
}
.calculator .calculatorcontent .left .text{
    font-size: 20px;
    text-align: justify;
}
.calculator .calculatorcontent .left p,
.calculator .calculatorcontent .left .text-2{
    text-align: justify;
    font-size: 18px;
    margin-top: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]
{
    -moz-appearance: textfield;
}
.calculator .calculatorcontent .left input[type=number]{
    width: 45px;
    height: 42px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 16px;
    border: 2px solid #dd362e;
    border-radius: 6px;
}
.calculator .calculatorcontent .left .calcular{
    text-align: center;
    margin-top: 14px;
}
.calculator .calculatorcontent .left .calcular #button{
    border: none;
    box-shadow: 0px 10px 10px grey;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    background: #FA3C32;
    cursor: pointer;
    transition: all 0.3s ease;
}
.calculator .calculatorcontent .left .calcular #button:hover{
    transform: scale(1.05);
}
.calculator .calculatorcontent .right img{
    margin-left: 14px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0px 16px 20px grey;
}
.calculator .calculatorcontent .right #res{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}
.calculator .calculatorcontent .right #res-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px grey;
}
.calculator .calculatorcontent .right #res-2 img{
    margin-top: 10px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    box-shadow: 0px 8px 20px grey;
}
.calculator .calculatorcontent .right #res-2 li{
    list-style-type: none;
    
}
.calculator .calculatorcontent .right #res-2 li p{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}


/* Contact Styling Start */

.contact{
    height: 100vh;
}
.contact .title::after{
    content: "Entre em contato" ;
}
.contact .contactcontent .text{
    text-align: justify;
    font-size: 18px;
}
.contact .contactcontent .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.contact .contactcontent .column{
    width: calc(25% - 10px);
}
.contact .contactcontent i{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 22px;
    color: #fff;
    padding: 15px;
    background: crimson;
    border-radius: 30px;
}
.contact .contactcontent .info{
    margin-bottom: 30px;
}
.contact .contactcontent .info .head{
    font-size: 18px;
    font-weight: 500;
}
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

    /* Responsive Media Query */
    @media (max-width: 1300px){

    }
    @media (max-width: 1104px){

    }
    @media (max-width: 991px){
        section .title{
            font-size: 35px;
        }
        section .title::after{
            font-size: 18px;
        }
        .combo .combocontents .card{
            width: calc(50% - 20px);    
        }
        .combo .combocontents a{
            font-size: 23px;
        }
        .calculator .calculatorcontent .left .text{
            font-size: 18px;
        }
        .calculator .calculatorcontent .left p,
        .calculator .calculatorcontent .left .text-2{
            font-size: 16px;
        }
    }
    @media (max-width: 947px){
        .menu-btn{
            color: #111;
            display: block;
            z-index: 999;
        }
        .menu-btn i.active:before{
            content: "\f00d";
        }
        .navbar .menu{
            position: fixed;
            height: 100vh;
            width: 100%;
            left: -100%;
            top: 0;
            background: #FFF8DC;
            text-align: center;
            padding-top: 80px;
            transition: all 0.3s ease;
        }
        .navbar .menu.active{
            left: 0;    
        }
        .navbar .menu li{
            display: block;
        }
        .navbar .menu li a{
            display: inline-block;
            margin: 20px 0;
            font-size: 25px;
        }
        .products .carousel .card .box .text{
            font-size: 23px;
        }
        .calculator .calculatorcontent .left #button{
            font-size: 17px;
        }
    }
    @media (max-width: 847px){
        .contact .contactcontent .icons{
            flex-wrap: wrap;
        }
        .contact .contactcontent .column{
            width: calc(50% - 10px);
        }
    }
    @media (max-width: 690px){
        .combo .combocontents .card{
            width: 100%;    
        }
        .calculator .calculatorcontent{
            display: inline-block;
        }
        .calculator .calculatorcontent .side{
            width: 100%;
        }
        .calculator .calculatorcontent .left p{
            font-size: 16px;
        }
        .calculator .calculatorcontent .left .text-2{
            font-size: 18px;
            text-align: center;
        }
        .calculator .calculatorcontent .left .calcular #button{
            font-size: 18px;
            margin-top: 10px;
        }
        .calculator .calculatorcontent .right img{
            margin-top: 40px;
        }
        .calculator .calculatorcontent .right #res{
            margin-top: 30px;
        }
        
    }
    @media (max-width: 597px){
        .contact .contactcontent .column{
            width: 100%
        }
    }
    @media (max-width: 500px){
        section .title{
            font-size: 30px;
        }
        section .title::after{
            font-size: 16px;
        }
        .combo .combocontents .card .box .text{
                font-size: 25px;
        }
        .combo .combocontents a{
            font-size: 20px;
        }
        .calculator .calculatorcontent .right #res{
            font-size: 18px;
        }
        .calculator .calculatorcontent .right #res-2 li p{
            font-size: 18px;
        }
        
    }
    @media (max-width: 470px){
        section .title::after{
            font-size: 14px;
            bottom: -10px;
            padding: 3px;
        }
        .combo .combocontents a{
            font-size: 20px;
            padding: 10px;
        }
    }
    @media (max-width: 420px){
        .combo .combocontents a{
            font-size: 18px;
            padding: 10px;
        }
        .contact .contactcontent .text{
            font-size: 16px;
        }
    }
    @media (max-width: 397px){
        section .title{
            font-size: 28px;
        }
        section .title::after{
            font-size: 12px;
        }
        .products .carousel .card .box img{
            height: 150px;
            width: 150px;
        }
        .products .carousel .card .box p{
            font-size: 14px;
        }
        .combo .combocontents .card .box img{
            height: 150px;
            width: 150px;
        }
        .combo .combocontents .card .box .text{
            font-size: 20px;
        }
        .combo .combocontents .card .box ul{
            font-size: 16px;
        }
        .combo .combocontents .card .box .price{
            font-size: 18px;
        }
        .combo .combocontents a{
            font-size: 18px;
            text-align: center;
        }
        .calculator .calculatorcontent .left .text-2{
            font-size: 16px;
        }
        .calculator .calculatorcontent .left .calcular #button{
            font-size: 16px;
        }
    }